<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Weather {{ title }}!
  </h1>
</div>


<!-- <div>
  <nav class="navbar">
      <ul class="nav navbar-nav">
          <li>
              <a [routerLink]="['current-weather']">
                  Current Weather
              </a>
          </li>
          <li>
              <a [routerLink]="['weather-forecast']">
                Weather Forecast
              </a>
          </li>         
      </ul>
  </nav>
</div> -->

<div>
  <router-outlet></router-outlet>
</div>




